#home {
	height: 100%;
	max-width: 600px;
	
	margin: 0px auto;
}

.post {
	width: calc(100% - 20px);
	
	margin-bottom: 40px;
	padding: 5px;
	
	border: 2px solid white;
	border-radius: 5px;
	box-shadow: 10px 20px 30px grey;
}

.post > article {
	padding-left: 20px;
}

.postheader {
	margin-top: -5px;
	margin-bottom: 20px;
}

.postheader > * {
	display: inline-block;
	
	font-size: 13px;
}

.postheader img {
	width: 40px;
	height: 40px;
	margin: 0px;
}

.postheader h5 {
	font-size: 15px;
	margin-bottom: 0px;
}

figure {
	margin-top: -5px;
	margin-bottom: 20px;
	margin-left: 0px;
}

figure > * {
	display: inline-block;
	
	font-size: 13px;
}

figure img {
	margin: 0px;
}

figure h5 {
	font-size: 15px;
	margin-bottom: 0px;
}

.postinfo {
	width: calc(100% - 10px);
	
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: -5px;
	padding-top: 15px;
	padding-left: 20px;
	
	border-top: 1px solid white;
}

/* Modalstyle */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
	border-radius: 5px;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

textarea {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

/*
#charCounter {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
*/

#postBtn {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #d9d9d9;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
}

.modal-body {padding: 2px 16px;}*/

.postinfo > img {
	display: inline-block;
	padding-right: 10px;
}
